.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.model img{
  position: absolute;
  width: 300px;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.layout1{
  position: absolute;
  top: 60%;
  left: 0;
  width: 1000px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.glassesafter img{
  position: absolute;
  width: 160px;
  transform: translateX(70px) translateY(100px);
}
.glassesinfo{
position: absolute;
top:220px ;
opacity: 0.4;
text-align: left;
transform: translateX(350px) translateY(-60px);

}
.glassesinfo h1{
  font-size: 20px;
}
.glassesinfo p1{
  color: green;
}
.glassesinfo p{
  font-size: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
